# Ruby
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock.local
InstalledFiles
_yardoc/
coverage/
doc/
lib/bundler/man/
pkg/
rdoc/
spec/reports/
test/tmp/
test/version_tmp/
tmp/

# Secrets - never commit these
master.key
config/master.key
config/credentials/*.key

# RSpec
.rspec_status

